= render 'cartify/checkout/progress'
%h3 Custom template 
%p (please modify with your own css)
%div
  %h3= t('settings.shipping')
  = render 'cartify/checkout/partials/addresses_short', address: @addresses.shipping
%div
  %h3= t('settings.billing')
  = render 'cartify/checkout/partials/addresses_short', address: @addresses.billing
%div
  %h3= t('confirm.shipments')
  %p
    = current_order.delivery.name
    %span.clickable-step{ 'data-href': wizard_path(:delivery) }= t('confirm.edit')
    %br
    = current_order.delivery.duration
%div
  %h3= t('confirm.payment_info')
  %p
    = current_order.secret_card_number
    %span.clickable-step{ 'data-href': wizard_path(:payment) }=t('confirm.edit')
    %br
    = current_order.credit_card.mm_yy
= render 'cartify/checkout/order_summary'
%div
  = button_to t('checkout.place_order'), wizard_path, method: :put
