= image_tag "burger.jpg",{class:"bg-fixed"}
.hero
%h1 Gherkin Burgers
#categories
  %ul
    - @categories.each do |category|
      %li= link_to category.name, category
- @products.each do |product|
  %h2= product.name
  %p= product.description
  %p #{product.price} kr
