!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', http: {equiv: "Content-Type"}}/
    %title Boilerplate
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: {'turbolinks-track' => 'reload'}
    = javascript_include_tag 'application', data: {'turbolinks-track' => 'reload'}
  %body
    #categories
      %ul
        - @categories.each do |category|
          %li= link_to category.name, category
    #notifications
      = alert 
      = notice
      = checkout_link
      = shop_icon_quantity
    = yield



